<!DOCTYPE html>
<html>
<head>
  <title>ExMylist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if signed_in? %>
      welcome <%= session[:name] %>!
      <%= link_to "Sign out", "/signout" %>
    <% else %>
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
        <%= link_to "Sign in with Twitter", "/auth/facebook" %>
    <% end  %>
  </nav>
<%= yield %>

</body>
</html>
